<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" href="/user/static/img/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/user/static/images/favicon-16x16.png" sizes="16x16" />
  <title>GinWebPhoto</title>
  <!--stylesheet-->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/user/static/css/styles.css" rel="stylesheet" type="text/css">
  <link href="/user/static/css/custom-responsive-styles.css" rel="stylesheet" type="text/css">
  <!--scripts-->
  <script type="text/javascript" src="/user/static/libs/jquery-3.5.0/jquery-3.5.0.min.js"></script>
  <script type="text/javascript" src="/user/static/js/all-plugins.js"></script>
  <script type="text/javascript" src="/user/static/js/plugins-activate.js"></script>
</head>

<body id="page-top">
  <!-- Navigation -->
  <div class="logo">
    <i class="fa fa-plane" aria-hidden="true"><span>Photo</span></i>
  </div>
  
  </nav>
  <section id="Banner" class="content-section">
    <div class="container content-wrap text-center">
      <h1>Gin Web Photo Album</h1>
      <h3>
          <em>一个在线相册网站</em>
        </h3>
      <a class="btn btn-primary btn-xl" href="/register">注册</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="btn btn-primary btn-xl" href="/login">登录</a>
    </div>
    <div class="overlay"></div>
  </section>
</body>
</html>