<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/user/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/user/static/css/PictureShow.css">
    <script src="/user/static/libs/jquery-3.5.0/jquery-3.5.0.min.js"></script>
    <script src="/user/static/js/bootstrap.js"></script>
    <title>照片查看</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <a class="navbar-brand">{{.name}}</a>
        <div class="collapse navbar-collapse justify-content-end">
            <li class="nav-item active">
                <a class="nav-link" href="./{{.name}}/AddPicture">上传图片</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="../Quit">退出登录</a>
            </li>
        </div>
    </ul>
</nav>
<div class="text-center" id="main-show">
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img id="imgshow" class="img-thumbnail" src="{{.img}}"></img>
            </div>
            <div class="col-md-6">
                <div class="justify-content-center">
                    <a class="btn btn-primary" href="{{.img}}" download="{{.img}}">下载图片</a>
                    <br/>
                    <br/>
                    <a class="btn btn-primary" href="/user/action/{{.name}}/DeletePicture/{{.imgname}}">删除图片</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">

</script>
</html>