<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/user/static/libs/jquery-3.5.0/jquery-3.5.0.min.js"></script>
    <script src="/user/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/user/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/user/static/css/AddPhoto.css">
    <title>上传</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <a class="navbar-brand">{{.name}}</a>
        <div class="collapse navbar-collapse justify-content-end">
            <li class="nav-item active">
                <a class="nav-link" href="./{{.name}}/AddPicture">上传图片</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="../Quit">退出登录</a>
            </li>
        </div>
    </ul>
</nav>
<br>
<div class="text-center" id="main-show">
    <form action="/user/action/{{.name}}/SavePicture" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6" >
                <div id="imgoutput">
                    <input type="file" name="file"  accept="image/*" class="imgInput"><br><br><br>
                    <div>
                        <img class="img-fluid" src="" id="img">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="TextInput">
                    <textarea class="form-control" type="text" name="text" style="width: 80%; height: 400px ;overflow: auto;word-break: break-all; resize: none;"></textarea>
                    <br/>
                    <button class="btn btn-primary mb-2" type="submit">点击上传</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">
    $(".imgInput").change(function(){
        $("#img").attr("src",URL.createObjectURL($(this)[0].files[0]));
    });
</script>
</html>