html,body{
    background-color: #8bbafe;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.row {
    margin-top: 4px;
    margin-bottom: 4px;
}

#imgoutput{
    margin-left: 50px;
}

#TextInput{
    margin-top: 10px;
}
